.Home__Level {
    margin-top: calc(49px + var(--safe-area-inset-top));
    margin-right: auto;
    margin-bottom: 30px;
    margin-left: auto
}

.Home__PidorDay {
    margin-bottom: 30px;
}

.Home__actions {
    display: flex;
    margin-bottom: 30px;
    padding-right: 20px;
    padding-left: 20px;
}

.Home__action {
    width: 50%;
}

.Home__action:first-child {
    margin-right: 20px;
}

.Home__Button {
    margin-bottom: 10px;
}

.Home__hint {
    font-size: 14px;
    font-weight: 600;
    color: rgba(var(--gray-rgb), 0.3);
    text-transform: uppercase;
    text-align: center;
}

.Home__title {
    margin-bottom: 30px;

    font-size: 18px;
    font-weight: 600;
    color: rgba(var(--gray-rgb), 0.5);
    text-align: center;
}