.Home__Level {
    margin-top: calc(49px + var(--safe-area-inset-top));
    margin-right: auto;
    margin-left: auto
}

.Home__Button {
    margin-bottom: 8px;
}

.Home__Button:last-child {
    margin-bottom: 0;
}