.PidorDay {
    --top-werath: none;
    --top-werath-bg: none;

    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    padding: 50px 20px 20px;

    text-decoration: none;

    background-image: url('../../images/star-pattern.png');
    background-size: 82px;
}

.PidorDay__avatar {
    position: relative;

    display: flex;
    justify-content: center;

    width: 112px;
    height: 104px;
}

.PidorDay__avatar::after {
    display: block;
    content: '';

    position: absolute;
    top: -10px;
    z-index: -1;

    width: 100%;
    height: 100%;

    background-image: url('../../svg/wreath.svg');
    background-repeat: no-repeat;
    background-size: cover;
}

.PidorDay__avatar img {
    width: 70px;
    height: 70px;

    border-radius: 50%;
}

.PidorDay__name {
    margin-bottom: 5px;

    font-size: 18px;
    font-weight: 600;
    color: var(--blue);
}

.PidorDay__status {
    margin-bottom: 20px;

    font-size: 16px;
    color: var(--gray);
}