#notifications {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;

    width: 100vw;
    max-height: 100vh;
}

.NotificationContainer {
    width: 100%;
    height: 100%;
    padding-top: calc(20px + var(--safe-area-inset-top));
    padding-right: 20px;
    padding-bottom: calc(20px + var(--safe-area-inset-bottom));
    padding-left: 20px;

    overflow-y: scroll;
}

.NotificationContainer .Notification {
    margin-bottom: 20px;
}