#notifications {
    position: fixed;
    top: 44px;
    top: calc(var(--panelheader_height_ios) + var(--safe-area-inset-top));
    left: 0;
    z-index: 5;

    width: 100vw;
    max-height: 100vh;
}

.NotificationContainer {
    width: 100%;
    height: 100%;
    padding-top: 8px;
    padding-right: 20px;
    padding-bottom: calc(38px + var(--safe-area-inset-bottom));
    padding-left: 20px;

    overflow-y: scroll;
}

.NotificationContainer .Notification {
    margin-bottom: 20px;
}